html, body {
    width: auto;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .hidden {
    display: none;
  }
  
.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1em;
  }
  
